
//  Changes to _settings.scss
//  ------------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Grid
//   3. Block Grid
//   4. Typography
//   5. Button
//   6. Callout
//   7. Menu
//   8. Thumbnail


// 1. Global
// ---------

$dark-gray: #999999;


// 4. Typography
// -------------

$global-font-weight: normal;
$global-line-height: 1;
$global-font-size: 15px;


// 7. Menu
// -------

$menu-item-padding: 5px;
$menu-item-gutter: 5px;
